<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AntarctiCrafts Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="http://10.10.153.178/img/favicon.ico" rel="icon">

    <!-- Icon Font Stylesheet -->
    <link href="css/all.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    


    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0" style="background: #1c2538;padding: 0.5% 2% !important;">
            <a href="index.php.html" class="navbar-brand p-0">
                <h1 class="m-0"><img src="img/logo.png" style=" height: 50px; margin-top: -4%; ">AntarctiCrafts</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
        </nav>
    </div>
    <!-- Navbar End -->

<!-- Webmail Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0">Webmail</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-3">
                <div class="list-group">
                    <a href="dashboard.php.html#" class="list-group-item list-group-item-action active">
                        Inbox (3)
                    </a>
                    <a href="dashboard.php.html#" class="list-group-item list-group-item-action">Sent</a>
                    <a href="dashboard.php.html#" class="list-group-item list-group-item-action">Drafts</a>
                    <a href="dashboard.php.html#" class="list-group-item list-group-item-action">Spam</a>
                    <a href="dashboard.php.html#" class="list-group-item list-group-item-action">Trash</a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="mb-3">
                    <a href="dashboard.php.html#" class="btn btn-primary">Compose</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>Subject</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="email-item" data-email-content="Hi South Pole Team, we've noticed a delay in our expected shipment of essential supplies. Can you provide an update?">
                                <td>logistics@northpole.thm</td>
                                <td>Delayed Shipment?</td>
                                <td>Oct 18, 2023</td>
                            </tr>
                            <tr class="email-item" data-email-content="Hi Daniel, here's your flag SGSSI{m3rrYcHr!$tm4$}">
                                <td>kevin@northpole.thm</td>
                                <td>Confidential Message</td>
                                <td>Sep 30, 2023</td>
                            </tr>
                            <tr class="email-item" data-email-content="Dear South Pole Team, you're cordially invited to our mid-winter festivity event. Looking forward to celebrating together!">
                                <td>events@northpole.thm</td>
                                <td>Invitation: Mid-Winter Festivity</td>
                                <td>Sep 25, 2023</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="email-content mt-4" style="display:none;">
                    <h4>Message Content:</h4>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Webmail End -->


    <!-- Footer Start -->
    <div class="container-fluid text-white" style="background: #061429;">
        <div class="container text-center">
            <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
                <p class="mb-0">&copy; AntarctiCrafts All Rights Reserved. </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->





    <!-- JavaScript Libraries -->
    <script src="js/jquery.3.min.js"></script> <!-- Added jQuery URL here -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script>
    $(document).ready(function() {
        $('.email-item').click(function() {
            let emailContent = $(this).attr('data-email-content');
            $('.email-content p').text(emailContent);
            $('.email-content').show();
        });
    });
</script>
</body>

</html>